<header>
    <nav class="cyan">
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo">Real Blog</a>
          <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/new">Add Post</a></li>
            <li><a href="#">item3</a></li>
            <li><a href="#">item4</a></li>
          </ul>
          <ul class="side-nav" id="mobile-menu">
            <li>
              <div class="userView">
            </li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/new">Add Post</a></li>
            <li><a href="#">item3</a></li>
            <li><a href="#">item4</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>